.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text h5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-desc {
    width: none;
}

.gopay-textbox, .dana-textbox {
    display: none;
}
